{% extends "base.html" %}
{% load static %}

{% block content %}
<div class="row">
    <div class="col-md-12">
        <h3>
            <a href='{% url 'blog_list' %}'>{% trans "Back to the Blog" %}</a>
        </h3>
        <h3>
            {{ post.title }}
        </h3>

        {% if post.published %}
            <p>
                {{ post.body }}
            </p>
            <ul>
                {% for comment in post.comments.all %}
                    <li>{{ comment.body }}</li>
                {% empty %}
                    <li>No comments yet</li>
                {% endfor %}
            </ul>
        {% else %}
            <p>
                {% url 'home' as home_url %}
                {% blocktrans %} Unpublished - Choose an <a href="{{ home_url }}">admin</a> tool and publish it.{% endblocktrans %}
            </p>
        {% endif %}
    </div>
</div>
{% endblock %}