{% extends "base.html" %}
{% load staticfiles i18n %}

{% block content %}
<div class="row-fluid">
    <div class="span10">
        <h1>Example.com</h1>

        <h3>{% trans "Imagine that this is a real site" %}</h3>

        <p>{% trans "Pretend that this is the homepage of a big Django site." %}</p>

        <p>{% trans "Imagine lots of things are here:" %}</p>
        <ul>
            <li>{% trans "A blog" %}</li>
            <li>{% trans "Comments" %}</li>
            <li>{% trans "And so on..." %}</li>
        </ul>

        <p>{% trans "In other words, these are items that we can introspect through the Django admin." %}</p>

        <h3>{% trans "Under the hood" %}</h3>

        <p>{% trans "Now, explore the Django admin for example.com. Click on either of the following:" %}</p>
    </div>
</div>

<div class="row-fluid">
    <div class="span5">
        <h4>{% blocktrans with admin_url="/admin/" %}The original <a href="{{admin_url}}">Django Admin</a>{% endblocktrans %}</h4>

        <a href="/admin/">
            <img class="img-polaroid" src="{% static 'img/admin.png' %}" />
        </a>

        <p>{% trans "Powered by django.contrib.admin. This is just here for reference." %}</p>
    </div>
    <div class="offset1 span5">
        <h4>{% blocktrans with admin2_url="/admin2/" %}The new <a href="{{admin2_url}}">Admin2</a>{% endblocktrans %}</h4>

        <a href="/admin2/">
            <img class="img-polaroid" src="{% static 'img/admin2.png' %}" />
        </a>

        <p>{% trans "Powered by django-admin2." %}</p>
    </div>
</div>
{% endblock %}
