language: python
python:
  - "2.7"
before_install:
  - export PIP_USE_MIRRORS=true
  - export PIP_INDEX_URL=https://simple.crate.io/
install:
  - pip install -r requirements.txt
before_script:
  - pip install --quiet --use-mirrors coveralls
script:
  - python runtests.py
after_script:
  - coveralls
