{% if actions %}
    <ol>
        {% for action in actions %}
        <li>
            {% if action.is_addition %}
                <span class="added">+</span>
            {% elif action.is_change %}
                <span class="changed">~</span>
            {% else %}
                <span class="deleted">-</span>
            {% endif %}
            <a href="{{ action.get_admin_url }}">{{ action }}</a>
        </li>
        {% endfor %}
    </ol>
{% else %}
    <p>None available</p>
{% endif %}

