{% load i18n staticfiles %}<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">

    <title>Example.com</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <!-- Bootstrap -->
    {% block css %}
    <link href="{% static "themes/bootstrap/css/bootstrap.min.css" %}" rel="stylesheet" media="screen">
    <link href="{% static "themes/bootstrap/css/bootstrap-custom.css" %}" rel="stylesheet" media="screen">
    {% endblock css %}
  </head>
  <body>
    <div class="container-fluid">

      {% block content %}{% endblock content %}
    </div>

    {% block javascript %}
    <script src="//ajax.googleapis.com/ajax/libs/jquery/1.10.1/jquery.min.js"></script>
    <script>window.jQuery || document.write('<script src="{% static "themes/bootstrap/js/jquery.min.js" %}">\x3C/script>')</script>
    <script src="{% static "themes/bootstrap/js/bootstrap.min.js" %}"></script>
    {% endblock javascript %}
  </body>
</html>
