{% extends "djadmin2theme_default/base.html" %}

{% load admin2_tags i18n crispy_forms_tags %}

{# Translators : examples : Add post, Change object #}
{% block title %}{% blocktrans with action=action model_name=model_name %}{{ action_name }} {{ model_name }}{% endblocktrans %}{% endblock title %}

{# Translators : examples : Add post, Change object #}
{% block page_title %}{% blocktrans with action=action model_name=model_name %}{{ action_name }} {{ model_name }}{% endblocktrans %}{% endblock page_title %}

{% block page_title_link %}
{% if object.pk %}
    <a href="{% url view|admin2_urlname:"history" pk=object.pk %}" class="btn btn-info pull-right">History</a>
{% endif %}
{% endblock page_title_link %}

{% block breadcrumbs %}
  <li>
    <a href="{% url "admin2:dashboard" %}">{% trans "Home" %}</a>
    <span class="divider">/</span>
  </li>
  <li>
    <a href="{% url "admin2:app_index" app_label=app_label %}">{% firstof app_verbose_name app_label|title %}</a>
    <span class="divider">/</span>
  </li>
  <li>
    <a href="{% url view|admin2_urlname:"index" %}">{{ model_name_pluralized|title }}</a>
    <span class="divider">/</span>
  </li>
  {% if action == 'Add' %}
    <li class="active">{{ action_name }}</li>
  {% else %}
    <li>
      <a href="{% url view|admin2_urlname:"detail" pk=object.pk %}">{{ object }}</a>
      <span class="divider">/</span>
    </li>
    <li class="active">{% trans 'Change' %}</li>
  {% endif %}

{% endblock breadcrumbs %}


{% block content %}

<form method="post" {% if form.is_multipart %}enctype="multipart/form-data" {% endif %}>

      {% if view.model_admin.save_on_top %}
        {% include "djadmin2theme_default/includes/save_buttons.html" %}
      {% endif %}

<div class="row-fluid"><!-- begin main form row -->
    <div class="span12">

      <div class="change_form">
        {% csrf_token %}
        {{ form|crispy }}
      {% for formset in inlines %}
      </div>

      <div class="comments_form">
      <h4>{{ formset.model|model_verbose_name_plural|capfirst }}</h4>
      {{ formset.management_form }}
      {% include formset.template %}
      {% endfor %}

  </div>
</div><!-- end main form row -->

      {% if view.model_admin.save_on_bottom %}
        {% include "djadmin2theme_default/includes/save_buttons.html" %}
      {% endif %}

</form>


{% endblock content %}
